@import "./var.scss";
@import "./mixins.scss";

div.chat_container {
    background-color: orchid;
    width: 90vw;
    height: 84vh;

    background: $primary-color;
    box-shadow: -5px 7px 17px 0px rgba(255, 255, 255, 0.19);

    margin: auto 20px;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template :  80px auto 90px / repeat(15, 1fr);
    grid-template-areas: 
        "a a a h h h h h h h h h o o o"
        "l l l m m m m m m m m m o o o"
        "l l l m m m m m m m m m o o o"
    ;
    section.chat_account {
        // background-color: $primary-color;
        grid-area: a;
        display: flex;
        padding: 10px;
        border-right: 0.5px solid $border-color;
        border-bottom: 0.5px solid $border-color;
        img {
            height: 60px;
            width: 60px;
            object-fit: cover;
            border-radius: 50%;
        }
        figcaption {
            margin-left: 20px;
            p { color: $text-color; }
            p.account_name {
                font-size: 28px;
                font-weight: 600;
                margin-bottom: -8px;
            }
            p.my_account {
                font-size: 14px;
            }
        }
        
    }
    section.chat_info {
        grid-area: h;
    }
    div.chat_list {
        grid-area: l;
        border-right: 1px solid $border-color;
        
        section.online_now {
            border-bottom: .5px solid $border-color;
            h3 {
                font-size: 22px;
                margin: 8px;
                font-weight: 600;
            }
            .content {
                padding: 8px auto;
                p {
                    text-align: center;
                    width: 80%;
                    color: $text-grey-color;
                    margin: 8px auto;
                }
            }
        }
        section.inbox {
            display: flex;
        flex-direction: column;
            nav {
                display: flex;
                padding: 0 8px;
                button {
                    border-bottom: 1px solid $border-color;
                    width: 50%;
                    padding: 8px;
                    background: transparent;
                    font-size: 16px;
                    color: $text-light-color;
                }
                button.active {
                    border-bottom: 3px solid $border-color;
                    color: $text-pink-color;
                }
            }
            aside {
                margin: 20% 10%;
                p {
                    text-align: center;
                    color: $text-grey-color;
                }
            }
        }
    }
    div.chat_main.chat_main_init {
        grid-area: m;
        @include center-styles;
        flex-direction: column;
        justify-content: flex-start;
        article {
            text-align: center;
            width: 50%;
            margin-top: 50px;
            h2 {
                font-size: 30px;
                margin: 5px auto;
                img {
                    position:relative;
                    right: 10px;
                    top: 15px;
                }
            }
            p {
                margin-top: 10px;
            }
        }
        section.search_box {
            margin-top: 50px;
            width: 50%;
            label {
                display: block;
            }
            input {
                width: 100%;
                padding: 5px 10px;
                background: $input-background;
                border-radius: 7px;
            }
        }
    }
    div.chat_overview{
        background: $overview-gradient;
        grid-area: o;
    }
}