/* GRADIENT VARIABLES */
/*
    border-radius: 0px 25px 25px 0px;
border: 0.5px solid rgba(0, 0, 0, 0.05);
box-shadow: -3px 0px 23px 0px rgba(207, 199, 199, 0.13);
*/
/*BOX SHADOWS */
/* COLORS VARIABLES */
/* FONTS VARIABLES */
/* PROFILE IMAGE SIZE */
/* GRADIENT VARIABLES */
/*
    border-radius: 0px 25px 25px 0px;
border: 0.5px solid rgba(0, 0, 0, 0.05);
box-shadow: -3px 0px 23px 0px rgba(207, 199, 199, 0.13);
*/
/*BOX SHADOWS */
/* COLORS VARIABLES */
/* FONTS VARIABLES */
/* PROFILE IMAGE SIZE */
.friendsComponent {
  margin: 6% 2% 4.6% 3%;
  width: 70%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  color: white;
}
.friendsComponent p {
  font-size: 1.75rem;
  font-weight: 700;
}
.friendsComponent .friends-list {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5em;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.friendsComponent .friends-list::-webkit-scrollbar {
  width: 0.4em;
  border-radius: 6em;
}
.friendsComponent .friends-list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6em;
}
.friendsComponent .friends-list .friend-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.3em;
}
.friendsComponent .friends-list .friend-empty p {
  margin: 0;
  font-weight: 700;
  text-align: center;
}
.friendsComponent .friends-list .friend-empty p:nth-child(1) {
  font-size: 1.25rem;
  font-weight: 600;
}
.friendsComponent .friends-list .friend-empty p:nth-child(2) {
  font-size: 1.325rem;
}
.friendsComponent .friends-list .friend-empty p:nth-child(2) span {
  color: #E72FD0;
}
.friendsComponent .friends-list .friend-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 22.4375rem;
  height: 14.0625rem;
  border-radius: 1rem;
  padding: 1em;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%), radial-gradient(58.23% 57.63% at 47.72% 47.11%, #622C98 0%, #341057 99.99%);
}
.friendsComponent .friends-list .friend-item header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  width: 100%;
}
.friendsComponent .friends-list .friend-item header .text-item {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.friendsComponent .friends-list .friend-item header .text-item h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.friendsComponent .friends-list .friend-item header .text-item span {
  font-size: 1rem;
  color: #E72FD0;
  font-weight: 600;
}
.friendsComponent .friends-list .friend-item header .level-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}
.friendsComponent .friends-list .friend-item header .level-item p {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.friendsComponent .friends-list .friend-item main {
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.625rem 1.25rem;
}
.friendsComponent .friends-list .friend-item main p {
  font-size: 0.875rem;
  margin: 0;
}

.globalLeaderboard {
  grid-area: Leaderboard;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem 0 0 1.25rem;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  background: radial-gradient(58.23% 57.63% at 47.72% 47.11%, #622C98 0%, #341057 99.99%);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
  width: 25%;
  height: 90%;
  overflow: hidden;
  position: relative;
}
.globalLeaderboard p {
  font-size: 1.75rem;
  font-weight: 700;
  color: white;
  margin: 1em;
}
.globalLeaderboard .svgIcons {
  position: absolute;
  width: 100%;
}
.globalLeaderboard .board {
  z-index: 1;
  width: 100%;
  height: 15%;
  margin-top: 30%;
  display: flex;
  align-items: flex-end;
}
.globalLeaderboard .board .rank {
  width: 34%;
  height: 100%;
  background: #270C42;
  border-radius: 1.5625rem 1.5625rem 0rem 0rem;
}
.globalLeaderboard .board .rank .rankContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}
.globalLeaderboard .board .rank .rankContent span > h4 {
  margin-bottom: 0;
}
.globalLeaderboard .board .rank .rankContent span {
  color: #FFF;
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: lowercase;
}
.globalLeaderboard .board .rank2, .globalLeaderboard .board .rank3 {
  height: 70%;
}
.globalLeaderboard .topEleven {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 2;
  gap: 0.5em;
  height: 70%;
  padding: 1em 0;
  background: #270C42;
  overflow: hidden;
}
.globalLeaderboard .topEleven .topRank {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5em;
  height: 100%;
}
.globalLeaderboard .topEleven .topRank p {
  font-weight: 400;
  font-size: 0.625rem;
  margin-left: 5em;
}
.globalLeaderboard .topEleven .topRank span {
  margin-left: auto;
}
.globalLeaderboard .topEleven .topRank span p {
  font-weight: 700;
}/*# sourceMappingURL=friendsComponent.css.map */