@import './var.scss';

:root {
    --container: 112rem;
    --m-auto: 0 auto;
  }

.swiper-container {
    width: 60%;
    height: 45%;
}

.swiper-slide {
    border-radius: 18px;
    width: 55% !important;
    height: 90% !important;
    border-radius: 2rem !important;
    overflow: hidden;
}

.swiper-3d {
    perspective: 300px;
}
  
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}
  
.slider-controler {
    position: relative;
    bottom: 1.5rem;
    width: 100%;
    height: 1rem;
}

.slider-controler .swiper-button-next {
    left: 58%;
    transform: translateX(-58%) !important;
}

.slider-controler .swiper-button-prev {
    left: 42%;
    transform: translateX(-42%) !important;
}

.slider-controler .slider-arrow::after {
    content: '';
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, .1));
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: $primary-pink;
}