@import "../scss/var.scss";
@import "../scss/mixins.scss";

.history {
    width: 100%;
    height: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    span {
        font-size: 0.625rem;
        font-weight: 600;
    }
    .score {
        font-size: 1.25rem;
        font-weight: 700;
    }
}