@import "../scss/var.scss";
@import "../scss/mixins.scss";

.backgroundHomeShadow {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 29.25rem;
    height: 9.9375rem;
    border-radius: 29.25rem;
    background: #E72FD0;
    filter: blur(125px);
}
.leaderboardShadow {
    position: absolute;
    bottom: 5%;
    left: 30%;
    width: 29.25rem;
    height: 5.75rem;
    border-radius: 29.25rem;
    background: #E72FD0;
    filter: blur(125px);
}
.homeCompenent {
    display: grid;
    margin: 6% 2% 2.4% 3%;
    width: 70%;
    grid-gap: 10px;
    grid-template-rows: 0.9fr 0.8fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    z-index: 1;
    .item {
        background-color: #59189A;
        border-radius: 1rem;
        border: 0.5px solid rgba(0, 0, 0, 0.05);
    }
    .item:has(> span) {
        display: flex;
        align-items: flex-end;
        color: white;
        font-size: clamp(1rem, 2vw, 2.25rem);
        font-style: italic;
        font-weight: 900;
        padding: 1rem 2rem;
    }
    .battleRoyal {
        display: flex;
        justify-content: space-between;
        grid-column: 1 / -1;
        // grid-row: 1 / 3;
        background-image: url("../Assets/Vintage_Style_Photography_ping_pong_table_dark_night_forest_bi_2.jpeg"), linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 58.33%);
        background-position: -2.5px -503px;
        background-size: 102% 396.258%;
        background-repeat: no-repeat;
        box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
        position: relative;
        img {
            width: 21.4375rem;
            height: 22.8125rem;
            position: absolute;
            left: 74.25%;
            bottom: 0;
        }
        .BattleRoyalCover {
            margin-left: 6rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                color: white;
                font-size: 3.75rem;
                font-style: italic;
                font-weight: 900;
            } 
            p {
                margin-top: 0;
                color: #EEE;
                font-size: 1.25rem;
                font-weight: 300;
            }
            .PlayButton {
                font-family: "Poppins";
                margin-top: .5rem;
                cursor: pointer;
                border-radius: 1.875rem;
                background: #E72FD0;
                border-radius: 1.5625rem;
                border: none;
                box-shadow: 0px 0px 20px 0px #E72FD0;                    width: 9.5rem;
                height: 3.375rem;
                color: white;
                span {
                    font-size: 1.375rem;
                    font-weight: 600;
                }
            }
        }
    }
    
    .theBeast {
        background-image: url("../Assets/DreamShaper_32_young_man_character_playing_ping_pong_full_body_0.jpeg"),;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 1 / span 2;
        // grid-row: 3 / span 2;
    }
    .SpiderGround {
        background-image: url("../Assets/DreamShaper_32_young_pale_skinny_white_man_white_and_blue_hair_1.jpeg"),;
        background-position: 0 -33px ;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 3 / span 2;
        // grid-row: 3 / span 2;
    }
    .BrightGround {
        background-image: url("../Assets/DreamShaper_32_young_pale_white_man_black_and_yellow_hair_ping_2.jpeg"),;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 5 / span 2;
        // grid-row: 3 / span 2;
    }
    
    .Leaderboard {
        background-image: url("../Assets/Leaderboard.png");
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 1 / 4;
        // grid-row: 5 / -1;
        display: flex;
        flex-direction: column;
        p {
            font-size: 1.4rem;
            font-weight: 700;
            color: white;
            margin: 1rem;
        }
        .board {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            .rank {
                width: 34%;
                height: 100%;
                background: var(--linear, linear-gradient(222deg, #270C42 0%, #270C42 0.01%, #3F1A64 100%));                    border-radius: 1.5625rem 1.5625rem 0rem 0rem;
                .rankContent {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin-top: -50px;
                    span > h4 {
                        margin-bottom: 0;
                    }
                    span {
                        color: #FFF;
                        font-size: 0.625rem;
                        font-weight: 400;
                    }
                }
            }
            .rank2, .rank3 {
                height: 80%;
            }
        }
    }
    
    .GameHistory {
        background-image: url("../Assets/GameHistory.png");
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 4 / -1;
        // grid-row: 5 / -1;
        display: flex;
        flex-direction: column;
        p {
            font-size: 1.4rem;
            font-weight: 700;
            color: white;
            margin: 1rem;
        }
        .games {
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 5px;
            justify-items: center;
            padding-bottom: 5px;
        }
    }
}