@import './var.scss';

* {
   margin: 0;
   padding: 0;  
   border: 0;
   font-family: $font-style;
   box-sizing: border-box;
}

*:focus {
    outline : none;
}
html {
    font-size: 16px;
    @media (max-width: 1226px ) {
        font-size: 15px;
    }
    @media (max-width: 1176px ) {
        font-size: 14px;
    }
    @media (max-width: 1041px ) {
        font-size: 13.5px;
    }

}

body {
    background: linear-gradient(135deg, $bg-color-left 0%, $bg-color-right 100%);
    width: 100vw;
    height: 100vh;
    color: $text-color;
}

main {
    display: flex;
    align-items: center;
    padding-top: 6.5rem;
    // width: 95vw;
    height: 95%;
}

#root {
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}

textarea {
    resize: none;
}