@import "../scss/var.scss";
@import "../scss/mixins.scss";

.profileComponent {
    display: grid;
    width: 95%;
    grid-template: 1fr 0.9fr / 0.75fr 1fr;
    grid-template-areas:
        "profile history"
        "friends achievements";
    grid-gap: 2em;
    .item {
        border-radius: 2rem;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 58.33%), rgba(89, 24, 154, 0.50);
    }
    .ProfileCard {
        grid-area: profile;
        margin: 0 3em;
        @include center-columns;
        justify-content: center;
        color: white;
        gap: .5em;
        .image {
            img {
                width: 9.5em;
                height: 9.5em;
                border-radius: 6em;
                border: 1px solid white;
            }
        }
        h1 {
            margin-top: 3px;
            font-size: 1.125em;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
        h2, p {
            text-transform: lowercase;
            font-size: 1em;
            margin-top: 0;
            font-weight: 500;
        }
        p {
            font-size: 0.75rem;
        }
        .level_bar {
            margin-top: 3px;
            width: 9.5em;
            height: .625em;
            position: relative;
            background-color: $bar-background;
            border-radius: 1em;
            box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
            .level-bar-fill {
                position: absolute;
                left: 0;
                height: 100%;
                background-color: $primary-pink;
                border-radius: 1em;
            }
        }
        .footer {
            margin-top: auto;
            width: 100%;
            display: flex;
            button {
                width: 50%;
                background: white;
                color: black;
                flex-grow: 1;
                padding: 1em 3em;
                border-radius: 0 0 0 1em;
                border: none;
                font-weight: 500;
            }
            .DM {
                border-radius: 0 0 1em 0;
                background: $primary-pink;
                color: white
            }
        }
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 90%;
        margin-bottom: .4em;
        p {
            font-size: 1.4em;
            font-weight: 700;
            margin: 1rem;
        }
    }
    .GameHistory {
        background-image: url("../Assets/GameHistory.png");
        background-size: cover;
        background-repeat: no-repeat;
        grid-area: history;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        header > .NbGames {
            display: flex;
            align-items: center;
            span {
                font-size: 0.875rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: .75em;
            }
        }
        .games {
            display: grid;
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            height: 80%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 5px;
            margin-right: 1em;
            justify-items: center;
            padding-bottom: 5px;
            &::-webkit-scrollbar {
                width: .4em;
                border-radius: 6em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #EAEAEA;
                border-radius: 6em;
            }
        }
    }
    .friendsCard {
        grid-area: friends;
        overflow: hidden;
        @include center-columns;

        header > .NbFriends {
            display: flex;
            align-items: center;
            span {
                margin-left: .5em;
                font-weight: 500;
            }
        }
        .all-friends-list {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            height: 80%;
            @include center-columns;
            gap: 8px;
            margin-right: 1em;
            &::-webkit-scrollbar {
                width: .4em;
                border-radius: 6em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #EAEAEA;
                border-radius: 6em;
            }
        }
    }
    .achievementCard {
        grid-area: achievements;
        overflow: hidden;
        @include center-columns;
        header > .NbAchived {
            display: flex;
            align-items: center;
            span {
                margin-left: .5em;
                font-weight: 500;
            }
        }
        .all-awards-list {
            overflow-y: auto;
            overflow-x: hidden;
            width: 100%;
            height: 80%;
            display: flex;
            flex-wrap: wrap;
            row-gap: 8px;
            margin-right: 1em;
            padding-left: 1em;
            &::-webkit-scrollbar {
                width: .4em;
                border-radius: 6em;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #EAEAEA;
                border-radius: 6em;
            }
            .award-item {
                margin-right: 1em;
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-grow: 1;
                gap: .4em;
                padding: .4em 1em;
                border-radius: 1em;
                background: rgba(0, 0, 0, 0.20);
                .achievement-name {
                    width: 50%;
                    margin-left: 1em;
                    font-size: 0.75rem;
                    p {
                        text-transform: uppercase;
                        font-weight: 700;
                        margin: 0;
                    }
                    span {
                        font-size: 0.75rem;
                    }
                }
                .lock span {
                    display: flex;
                    gap: .4em;
                    width: 30%;
                    font-size: 0.75rem;
                    font-weight: 700;
                    img {
                        width: 1em;
                    }
                }
            }
            .false {
                color: #a7a7a7;
            }
        }
    }
}

@media (max-width: 1450px) {
    .profileComponent {
        .ProfileCard {
            margin: 0;
        }
    }
}
@media (max-width: 1190px) {
    .profileComponent > .ProfileCard > .footer {
        button {
            padding: 1em 1em;
        }
    }
}

@media (max-width: 1150px) {
    .profileComponent {
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-template-areas:
            "profile friends"
            "history history"
            "achievements achievements";
        grid-gap: 1.5em;
        .ProfileCard {
            .image > img {
                width: 7em;
                height: 7em;
            }
        }
        header > p {
            font-size: 1.2em;
            margin: .5rem;
        }
        .achievementCard > .all-awards-list > .award-item {
            padding: .2em .75em;
        }
    }
}

@media (max-width: 960px) {
    .profileComponent {                                                                                                                          
        .stats {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .profileComponent {
        .item {
            min-height: 16rem;
        }
        grid-template: 1fr / 1fr;
        grid-template-areas:
            "profile"
            "friends"
            "history"
            "achievements";
        grid-gap: 1em;
        header > p {
            font-size: 1em;
            // margin: 0;
        }
        span {
            font-size: .75em;
        }
        .stats {
            display:flex;
        }
        .ProfileCard {
            .head {
                flex-direction: row;
            }
            .image > img {
                width: 7em;
                height: 7em;
            }
            .level_bar {
                width: 12em;
            }
        }
        .achievementCard > .all-awards-list > .award-item {
            width: 100%;
        }
    }
}