@import "./var.scss";
@import "./mixins.scss";

.settings_grid {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) 4em repeat(2, 1fr) / repeat(12, 1fr);
    grid-template-areas: 
    "e e e e e e e e e p p p"
    "e e e e e e e e e p p p"
    "h h h h h h h h h p p p"
    "s s s s s s s s s p p p"
    "s s s s s s s s s p p p"
    ;
    @media (max-width: 1752px) { 
        width: 100%;
        grid-template: repeat(2, 1fr) 4em repeat(2, 1fr) / repeat(6, 1fr) repeat(2, 10rem);
        grid-template-areas: 
        "e e e e e p p p"
        "e e e e e p p p"
        "h h h h h p p p"
        "s s s s s p p p"
        "s s s s s p p p"
        ;
    }
    @media (max-width: 1366px) { 
        width: 100%;
        grid-template: 40% 10% 50% / repeat(8, 1fr);
        grid-template-areas: 
        "e e e e e e p p"
        "h h h h h h p p"
        "s s s s s s p p"
        ;
    }
    @media (max-width: 767px) {
        display: block;
    }
}


#step_cards {
    grid-area: s;
}
#twof-poster {
    grid-area: p;
    @media (max-width: 1366px ) {
        justify-self: center;
        align-self: center;
        padding: 3em 2em;
        gap: 1em;
    }
    article {
        @media (max-width: 1366px ) {
        }
        h2 {
            @media (max-width: 1366px ) {
                // font-size: 1em;
            }
        }
        p {
            @media (max-width: 1366px ) {
                margin: 1em auto;
            }
        }
    }
    figure {
        img {
            @media (max-width: 1366px ) {
                width: 13em;
            }
        }
    }
}

.heading {
    grid-area: h;
}

#info_edit {
    grid-area: e;
    @media (max-width: 1366px) {
        padding: 1em;
        // padding-bottom: 0em;
    }
    @media (max-width: 1024px) {
        padding: 1.5rem;
    }
    figure {
        figcaption {
            @media (max-width: 1366px ) {padding: 0em ; margin-left: 1em;}
            h2 {
                @media (max-width: 1366px ) {
                    font-size: 1em;
                }
            }
        }
        #avatar_editor {
            img {
                @media (max-width: 1366px) {
                    width: 5em;
                    height:5em;
                }
            }
        }
    }
    article {
        form {
            @media (max-width: 1366px ) {
                padding: 1em;
                justify-content: center;
            }
            div {
                @media (max-width: 1366px ) {
                    margin: .2em auto;
                }
                h2 {
                    @media (max-width: 1366px ) {
                        font-size: 1em;
                    }
                }
                input {
                    @media (max-width: 1366px ) {
                        padding: .2em .4em;
                        font-size: .8em;
                    }
                }
            }
            div.button-container {
                @media (max-width: 1366px ) {
                    display: flex;
                    align-items: end;
                }
                
                button {
                    @media (max-width: 1366px ) {
                        padding: .4em 1.5em;
                        margin-bottom: .2em;
                    }
                }
            }
        }
    }
}


#tfa-heading {
    h2 {
        @media (max-width: 1366px ) {
            margin: 0;
            paddding: 0;
            font-size: 1.2em;
        }
    }
}

#step_cards {
    @media (max-width: 1366px ) {
        gap: 1em;
        padding:  .2em;
        margin: 0 1em;
    }
    .step_card {
        @media (max-width: 1366px ) {
            width: 33%;
            margin: 0;
        }
        .step-id-container {
            h2 {
                @media (max-width: 1366px ) {
                   font-size: 1em;
                }
            }
        }
        
        .card-title-container {
            @media (max-width: 1366px ) {
                margin-top: .8em;
            }
            h2.card-title  {
                @media (max-width: 1366px ) {
                    font-size: .9em;
                }
            }
        }
        .card-desc-container {
            @media (max-width: 1366px ) {
                margin: 1em auto;
                margin-top: .2em;
            }
            p {
                @media (max-width: 1366px ) {
                    font-size: .7em;
                }
            }
        }
        .download-card {
            @media (max-width: 1366px ) {
                margin: .2em 2em;
                padding: .3em;
            }
            img {
                @media (max-width: 1234px ) {
                    width: 2.4em;
                }
            }
        }
        img {
            &.qr-img {
                @media (max-width: 1366px ) {
                    width:8em;
                }
            }
            &.pass-img {
                @media (max-width: 1366px ) {
                    margin-top: -1em;
                    height: 8.5em;
                }
            }
        }
    }
}


.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom: 0;
    @media (max-width: 1366px ) {
        right: 0px;
    }
    input {
        display: none;
    }
    label {
        @include center-styles;
        width: 34px;
        height: 34px;
        @media (max-width: 1366px ) {
            width: 24px;
            height: 24px;
        }
        margin-bottom: 0;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        .icon {
            color: #292727;
            width: 60%;
            height: 60%;
        }
        &:hover {
            background: #f1f1f1;
            border-color: #d6d6d6;
        }
    }
}