@import './var.scss';
@import './mixins.scss';
div.backgroundShadow {
    position: absolute;
    top: 25%;
    left: -105px;
    width: 8.43825rem;
    height: 60%;
    border-radius: 38.59531rem;
    background: rgba(231, 47, 208, 0.75);
    filter: blur(125px);
}
div.sidebar {
    // background-color: white;
    width: 70px;
    height: 80vh;
    margin-top: 6%;
    margin-left: 1rem;
    border-radius: 25px;
    border: 0.5px solid rgba(255, 255, 255, 0.30);
    background: radial-gradient(552.73% 50% at 50.00% 50.00%, rgba(76, 11, 91, 0.35) 0.24%, rgba(48, 13, 85, 0.70) 100%);
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:  16px 0px;
    z-index: 1;
    div.sidebar-shadow {
        @include center-styles;
        background-color: $sdb-color;
        // z-index: 0;
        padding: 5px;
        border-radius: 10px;
        width: 2.2rem;
        height: 2.2rem;
        margin: 0.8rem;
        box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
        div.sidebar_button {
            @include center-styles;
            padding: 5px;
            border-radius: 10px;
            width: 80%;
            height: 80%;
            * {
                display: block;
                width: 90%;
                height: 90%;
                fill: white;
            }
        }
    }
    div.logout {
       margin-top: auto;
    }
    div.active {
        background : $sdb-gradient;
    }
}