body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.content {
    display: flex;
}

.cover {
    width: 50%;
    height: 100vh;
    background-color: blueviolet;
}

.container {
    width: 50%;
}