/* GRADIENT VARIABLES */
/*
    border-radius: 0px 25px 25px 0px;
border: 0.5px solid rgba(0, 0, 0, 0.05);
box-shadow: -3px 0px 23px 0px rgba(207, 199, 199, 0.13);
*/
/*BOX SHADOWS */
/* COLORS VARIABLES */
/* FONTS VARIABLES */
/* PROFILE IMAGE SIZE */
/* GRADIENT VARIABLES */
/*
    border-radius: 0px 25px 25px 0px;
border: 0.5px solid rgba(0, 0, 0, 0.05);
box-shadow: -3px 0px 23px 0px rgba(207, 199, 199, 0.13);
*/
/*BOX SHADOWS */
/* COLORS VARIABLES */
/* FONTS VARIABLES */
/* PROFILE IMAGE SIZE */
div.user_overview {
  color: white;
  background: var(--radial-purple, radial-gradient(58.23% 57.63% at 47.72% 47.11%, #7426C4 0%, #341057 100%));
  grid-area: o;
  margin-left: auto;
  width: 22.45%;
  height: 95%;
}
div.user_overview.chat_overview_init {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.user_overview.chat_overview_init p {
  width: 90%;
  color: rgba(218, 218, 218, 0.5);
  text-align: center;
}
div.user_overview div.contact_details_container {
  padding: 25px 20px;
}
div.user_overview div.contact_details_container h2 {
  font-size: 20px;
  font-weight: 600;
}
div.user_overview div.contact_details_container figure.contact {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
div.user_overview div.contact_details_container figure.contact img {
  width: 85px;
  height: 85px;
  border-radius: 16px;
  margin-left: -10px;
  margin-right: 8px;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
div.user_overview div.contact_details_container figure.contact figcaption {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-bottom: 5px;
}
div.user_overview div.contact_details_container figure.contact figcaption span {
  font-size: 1.875rem;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0;
}
div.user_overview div.contact_details_container figure.contact figcaption p {
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 5px;
}
div.user_overview div.contact_details_container figure.contact figcaption .level_bar {
  width: 100%;
  height: 0.4rem;
  position: relative;
  background-color: #350D5C;
  border-radius: 1rem;
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
}
div.user_overview div.contact_details_container figure.contact figcaption .level_bar .level-bar-fill {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: #E72FD0;
  border-radius: 1rem;
}
div.user_overview div.contact_details_container div.results {
  display: flex;
  background-color: red;
  margin: 25px -20px 25px auto;
  justify-content: space-around;
  padding: 20px;
  border-radius: 25px 0px 0px 100px;
  border: 0.5px solid rgba(255, 255, 255, 0.25);
  border-right: 0;
  background: radial-gradient(71.32% 71.31% at 50% 50%, #7A2DC7 0%, rgba(122, 45, 199, 0) 100%);
}
div.user_overview div.contact_details_container div.results figcaption.results-item {
  text-align: center;
}
div.user_overview div.contact_details_container div.results figcaption.results-item p {
  font-size: 12px;
  font-weight: 500;
}
div.user_overview div.contact_details_container div.achievement-container figure.achievement {
  background-color: red;
  margin: 8px auto;
  display: flex;
  padding: 3px 8px;
  align-items: center;
  border-radius: 16px;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.25);
}
div.user_overview div.contact_details_container div.achievement-container figure.achievement img.achievement-icon {
  width: 40px;
  height: 40px;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  margin-right: 15px;
}/*# sourceMappingURL=userOverview.css.map */