@import "./var.scss";

.friend-item {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .4em;
    padding: .6em 1em;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.20);
    .useData {
        display: flex;
        gap: 1em;
        .userImage {
            position: relative;
            display: flex;
            align-items: center;
            gap: 1.4em;
            img {
                width: 2.4em;
                height: 2.4em;
                border-radius: 6em;
            }
            .status {
                width: .9em;
                height: .9em;
                border-radius: 6em;
                background-color: red;
                position: absolute;
                top: .1em;
                right: -.1em;
            }
            .Online {
                background-color: $primary-pink;
            }
            .Offline {
                background-color: #2B2D31;
                border: 3px solid #81848D;
            }
        }
        .friend-name {
            font-size: 0.75rem;
            p {
                text-transform: uppercase;
                font-weight: 700;
                margin: 0;
            }
            span {
                font-size: 0.75rem;
            }
        }
    }
    .stats {
        width: 30%;
        span {
            font-size: 0.875rem;
            font-weight: 500;
            text-transform: lowercase;
            display: flex;
            gap: 1em;
            &:first-child {
                margin-bottom: 4px;
            }
        }
    }
}