@import './var.scss';
@import './mixins.scss';

.flex-sp {
    display: flex;
    justify-content: space-between;
}

.active-link {
    background-color: $sdb-gradient;
}

.center {
    @include center-styles;
}