/* GRADIENT VARIABLES */
$bg-color-left: #340D5B; 
$bg-color-right : #450C61;
$sdb-gradient: linear-gradient(360deg, #E72FD0 0%, #8B3DD9 100%);



/* COLORS VARIABLES */
$text-color: #fff;
$sdb-color: #15042780;

/* FONTS VARIABLES */
$font-style :'Poppins', sans-serif;
$logo-font-size: 25px;
$logo-font-weight: 600;

/* PROFILE IMAGE SIZE */
$profileWidthSmall: 2.4375rem; 
$profileHeightSmall: 2.5rem; 

$profileWidthRegular: 2.9375rem; 
$profileHeightRegular: 3rem; 

$profileWidthMedium: 3.25rem; 
$profileHeightMedium: 3.36019rem;

$profileWidthBig: 7.375rem; 
$profileHeightBig: 7.625rem; 